/* src/styles/public-layout.css */
.public-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  padding: 2rem;
  background-color: #f4f4f4; /* Un fondo claro */
}
